@model IEnumerable<Willians.LojaVirtual.Dominio.Entidade.Pedido>

@{
    ViewBag.Title = "Meus Pedidos";
}

<h2>Meus Pedidos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            Valor Total
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmbrulhaPresente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pago)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
           @item.ProdutosPedidos.Sum(x => x.Produto.Preco).ToString("C");
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmbrulhaPresente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pago)
        </td>
        <td>
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
        </td>
    </tr>
}

</table>
