@model Willians.LojaVirtual.Dominio.Entidade.Produto

<div class="well">

    @if (Model.Imagem != null)
    {
        <div class="row">
            <div class="pull-left" style="margin-right:10px">
                <img class="img-thumbnail" width="120" height="120" src="@Url.Action("ObterImagem", "Produtos", new { Model.ProdutoId })" />
            </div>
        </div>        
    }

</div>

<div class="row">
    <h4>
        @Html.ActionLink(@Model.Nome, "Detalhes", "Vitrine", new { id = Model.ProdutoId, produto = Model.Nome.ToSeoUrl() }, new { @class = "deco-nome" } )
        <br />
        <span class="pull-right label label-primary">
            @Model.Preco.ToString("c")
        </span>
    </h4>

</div>

@*<h3><strong>@Model.Nome</strong></h3>
<h3><span class="pull-right label label-danger">@Model.Preco.ToString("c")</span></h3>*@

@*@using (Html.BeginForm("Adicionar", "Carrinho"))
{
    <div class="pull-right">
        @Html.HiddenFor(x => x.ProdutoId)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        @Html.Hidden("Quantidade", 1)
        <input type="submit" value="Comprar" class="btn btn-success" />
 
    </div>
}

@Model.Descricao*@
