@model Willians.LojaVirtual.Dominio.Entidade.Pedido

@{ 
    ViewBag.Title = "Willians - Fechar Pedido";
}

<h2>Fechar o Pedido</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.HiddenFor(c => c.ClienteId)

    <h3>Enviar Para:</h3>

    <div class="form-group">
        <label>Nome do Cliente:</label>
        @Html.TextBoxFor(d => d.Cliente.NomeCompleto, new {@class="form-control", disabled = true})
    </div>

    <h3>Dados para Entrega</h3>    
    
    @Html.DisplayFor(m => m.Cliente.Endereco)

    <h3>Opções</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(e => e.EmbrulhaPresente) Embrulhar para Presente ?
        </label>
    </div>

    <input class="btn btn-primary" type="submit" value="Fechar o Pedido" />
}