@model Willians.LojaVirtual.Dominio.Entidade.Pedido
@{
    ViewBag.Title = "Pedido Concluído";
}
<h2>Obrigado!</h2>
Obrigado pela sua compra, iremos enviar o pedido o mais rápido possível.

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmbrulhaPresente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmbrulhaPresente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdutosPedidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutosPedidos, templateName: "ProdutosPedidosList")
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Concluir", "Index", "Nav", null, new { @class = "btn btn-success" })
</p>